<h1>All Ideas for <%= @user.username %></h1>

<%= link_to "Create an Idea", new_user_idea_path(@user)%>

<% @ideas.each do |idea| %>
<ul>
  <li><%= idea.title %></p>
  <li><%= idea.body %></p>
</ul>
<% end %>
