<h1>Admin Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li id="category-<%= category.id %>"> <%= category.title %> <%= link_to "Delete", admin_category_path(category), method: :delete %>
  <% end %>
</ul>
