body {
  background-image: url("http://www.psdgraphics.com/file/yellow-background.jpg");
  background-repeat: no-repeat;
  font-family: 'Concert One', cursive;
}

h1 {
  font-family: 'Chango', cursive;
}
